.header-background {
	position: fixed;
	top: 20px;
	left: 0px;
	right: 0px;
	width: auto;
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: auto;
	background-color: transparent;
	border: 2px solid;
}

.menu {
	background-color: black;
	clear: both;
	padding-top: 20px;
	padding-left: 22%;
	padding-right: 20%;
	padding-bottom: 20px;
}

.submenu {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.dropbtn {
	color: black;
	padding: 20px 15px;
	font-size: 20px;
	border-color: #FFD700;
	font-weight: bold;
	font-family: "Baskerville Old Face";
	width: 150px;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: relative;
	background-color: #f1f1f1;
	width: auto;
	font-family: "Baskerville Old Face";
	font-size: 16px;
	font-weight: bold;
}

.dropdown-contnt a {
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.submenu:hover .dropdown-content {display: block;}
.submenu:hover .dropbtn {background-color: #95d6e9;}

.title{
	padding-top:10px;
	padding-left: 325px;
	padding-right: 250px;
	font-size:30px;
	font-weight:bold;
	color:black;
}

.title2{
	padding-left:50px;
	font-size:30px;
	font-weight:bold;
	color: #FFD700;
	background-color:black;
	
}

body {
	background-image: url('../img/mountain_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
	padding-right: 400px;
	padding-left: 400px;
	padding-top: 80px;
}

.image {
	padding-left:250px;
	padding-right:400px;
}

.main{
	padding-top:50px;
}

.textbox{
	padding-left:50px;
	padding-right:50px;
	border: 2px solid;
	font-size: 20px;
	background-color:#FFD700;
}

.footer {
	font-size: 15px;
	font-family: "Baskerville Old Face";
	font-weight: bold;
	color: white;
	clear: both;
	text-align: center;
	padding-top: 5px;
}

<html>
<head>

<title>Jake Wells</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../css/Index.css">

</head>

<body>
	<div class="header">
	
		<div class="menu">
			<div class="submenu">
				<a href="index.php"><button class="dropbtn">Home</button></a>
			</div>
			
			<div class="submenu">
				<a href="education.php"><button class="dropbtn">Education</button></a>
			</div>
			
			<div class="submenu">
				<a href="projects.php"><button class="dropbtn">Projects</button></a>
			</div>
			
			<div class="submenu">
				<a href="work.php"><button class="dropbtn">Work</button></a>
			</div>
			
			<div class="submenu">
				<a href="about.php"><button class="dropbtn">About</button></a>
			</div>
			
			<div class="submenu">
				<a href="mailto:jakewells9@proton.me"><button class="dropbtn">Contact</button></a>
			</div>
			
			<div class="submenu">
				<a href="https://www.linkedin.com/in/jake-wells-440a931b5/"><button class="dropbtn">LinkedIn</button></a>
			</div>
		</div>
	</div>

</body>

</html>
