.header-background {
	position: relative;
	top: 20px;
	left: 0px;
	right: 0px;
	width: auto;
}

.header {
	position: relative;
	top: 0px;
	left: 0px;
	right: 200px;
	width: auto;
	background-color: transparent;
	border: 2px solid;
}

.menu {
	background-color: black;
	clear: both;
	padding-top: 20px;
	padding-left: 22%;
	padding-right: 20%;
	padding-bottom: 20px;
}

.submenu {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.dropbtn {
	color: black;
	padding: 20px 15px;
	font-size: 10px;
	border-color: #FFD700;
	font-weight: bold;
	font-family: "Baskerville Old Face";
	width: 100px;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: relative;
	background-color: #f1f1f1;
	width: auto;
	font-family: "Baskerville Old Face";
	font-size: 16px;
	font-weight: bold;
}

.dropdown-contnt a {
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.submenu:hover .dropdown-content {display: block;}
.submenu:hover .dropbtn {background-color: #95d6e9;}

.title{
	padding-top:10px;
	padding-left: 40%;
	padding-right: 250px;
	font-size:50px;
	font-weight:bold;
	color:black;
}

.title2{
	padding-left:50px;
	font-size:35px;
	font-weight:bold;
	color: #FFD700;
	background-color:black;
	
}

body {
	background-image: url('../img/mountain_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
	padding-right: 200px;
	padding-left: 200px;
	padding-top: 80px;
}

.image {
	padding-left:200px;
	padding-right:400px;
}

.main{
	padding-top:5px;
}

.textbox{
	padding-left:50px;
	padding-right:10px;
	border: 2px solid;
	font-size: 20px;
	background-color:#ffeb99;
}

.footer {
	font-size: 15px;
	font-family: "Baskerville Old Face";
	font-weight: bold;
	color: white;
	clear: both;
	text-align: center;
	padding-top: 5px;
}

